<div id="messages-container" class="ui grid">
    <div id="shortened-messages" class="five wide column">
        <div class="ui segment">
            <div class="ui divided link items">
                <div class="item">
                    <div class="ui extra tiny image">
                        <img src="http://semantic-ui.com/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <div class="ui tiny header">
                            Krzysztof Kochański
                        </div>
                        <div class="date ui right floated">27 april</div>
                        <div class="meta">
                            Lorem ipsum heheh teraz to ...
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="ui extra tiny image">
                        <img src="http://semantic-ui.com/images/avatar/small/joe.jpg">
                    </div>
                    <div class="content">
                        <div class="ui tiny header">
                            Joe Henderson
                        </div>
                        <div class="date ui right floated">27 april</div>
                        <div class="meta">
                            <span>Lorem ipsum heheh teraz to ... </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui extra tiny image">
                        <img src="http://semantic-ui.com/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <div class="ui tiny header">
                            Krzysztof Kochański
                        </div>
                        <div class="date ui right floated">27 april</div>
                        <div class="meta">
                            <span>Lorem ipsum heheh teraz to ... </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui extra tiny image">
                        <img src="http://semantic-ui.com/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <div class="ui tiny header">
                            Krzysztof Kochański
                        </div>
                        <div class="date ui right floated">27 april</div>
                        <div class="meta">
                            <span>Lorem ipsum heheh teraz to ... </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conversation" class="eleven wide column">
        <div class="ui segment">
            <div class="ui fluid comments">
                <div id="conversation-header">
                    <h3 class="ui left floated header">
                        <a href="#">Matt</a>
                    </h3>
                    <div class="ui basic right floated mini buttons">
                        <button class="ui labeled icon button"><i class="plus icon"></i> New message</button>
                        <button class="ui icon button"><i class="setting icon"></i></button>
                        <button class="ui icon button"><i class="search icon"></i></button>
                    </div>
                    <div class="ui fitted clearing divider"></div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">20:30</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="http://semantic-ui.com/images/avatar/small/joe.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">20:48</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">20:50</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <form class="ui form">
                <div class="field">
                    <textarea rows="3" placeholder="Your reply..."></textarea>
                </div>

                <button class="ui basic tiny labeled icon button"><i class="attach icon"></i> Add files</button>
                <button class="ui basic tiny labeled icon button"><i class="photo icon"></i> Add photos</button>
                <div class="ui right floated tiny red labeled icon button">
                    <i class="icon send"></i> Reply
                </div>
                <div class="self clearing"></div>

            </form>
        </div>
    </div>
</div>