<div id="sign-up-modal" class="ui modal xx-small">
    <div class="content">

        <div id="sign-up-email-container" ng-show="vm.showSignUpForm === true">
            <p class="self center aligned">
                Sign up with <a href="#" class="red">Facebook</a> or <a href="#" class="red">Google</a>
            </p>

            <div class="ui horizontal divider">
                or
            </div>

            <message type="{{ vm.messageType }}" title="{{ vm.messageTitle }}" content="{{ vm.messageContent }}" show-message="vm.showMessage"></message>
            <form-validation errors="vm.formErrors" form-element="#sign-up-modal form"></form-validation>
            <form name="vm.signUpForm" ng-submit="vm.submitSignUp()" class="ui form" novalidate>
                <div class="field">
                    <div class="ui right icon input">
                        <input type="text" name="firstName" ng-model="vm.user.firstName" placeholder="First name" >
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui right icon input">
                        <input type="text" name="lastName" ng-model="vm.user.lastName" placeholder="Last name" >
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui right icon input">
                        <input type="email" name="email" ng-model="vm.user.email" placeholder="E-mail" >
                        <i class="at icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui right icon input">
                        <input type="password" name="password" ng-model="vm.user.password" placeholder="Password" >
                        <i class="unlock icon"></i>
                    </div>
                </div>
                <p>By clicking 'Sign up', you agree the Terms&amp;Conditions</p>
                <button class="ui red fluid huge button" type="submit">Sign up</button>
            </form>
        </div>

        <div id="initial-sign-up" ng-show="vm.showSignUpForm === false">
            <button id="sign-up-facebook" class="massive labeled icon facebook fluid ui button">
                <i class="facebook icon"></i>
                Sign up with Facebook
            </button>

            <button id="sign-up-google" class="massive labeled icon basic fluid ui button">
                <i class="google plus icon"></i>
                Sign up with Google
            </button>

            <div class="ui horizontal divider">
                Or
            </div>

            <button id="sign-up-email" ng-click="vm.showSignUpForm = true" class="massive labeled icon red fluid ui button">
                <i class="mail outline icon"></i>
                Sign up with E-mail
            </button>
        </div>

        <div class="ui divider"></div>

        <div>
            <span class="self left floated">
                Already our member?
            </span>
            <button type="button" ng-click="openLogInModalFromSignUpModal()" class="self right floated ui red basic button">Log In</button>
            <div class="ui clearing fitted hidden divider"></div>
        </div>
    </div>
</div>