<div id="sign-up-confirmation" ng-controller="signUpConfirmationController as vm" >
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>We're checking if your confirmation URL is valid...</p>
        </div>
    </div>

    <div class="ui negative message" style="display: none;">
        <i class="close icon"></i>
        <div class="header">
            Error
        </div>
        <p></p>
    </div>

    <div class="ui positive message" style="display: none;">
        <i class="close icon"></i>
        <div class="header">
            Success
        </div>
        <p></p>
    </div>
</div>

