<div id="dashboard-container" class="ui grid">
    <div class="four wide column">
        <div class="ui segment">
            <img class="ui image" src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
            <h3 class="ui centered header">Krzysztof Kochański</h3>
        </div>
        <div class="ui segments">
            <div class="ui compact secondary top attached segment">
                <h5>Actions</h5>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui selection link list">
                    <div class="active item">
                        <i class="edit icon"></i>
                        <div class="content">
                            <a href="#">Edit profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="browser icon"></i>
                        <div class="content">
                            <a href="#">Show profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column grid">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segments">
                    <div class="ui compact secondary top attached segment">
                        <h5>Required</h5>
                    </div>
                    <div class="ui bottom attached segment">
                        <form class="ui form">
                            <div class="field">
                                <label>First Name</label>
                                <input name="first-name" placeholder="First Name" type="text">
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input name="last-name" placeholder="Last Name" type="text">
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input class="hidden" tabindex="0" type="checkbox">
                                    <label>I agree to the Terms and Conditions</label>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ui eight wide column">
                <div class="ui segments">
                    <div class="ui compact secondary top attached segment">
                        <h5>Optional</h5>
                    </div>
                    <div class="ui bottom attached segment">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>