<h4 class="ui horizontal divider header">
    At vero eos
</h4>
<h1 class="ui header center aligned">
    Vero
    <div class="sub header">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident!</div>
</h1>
<h4 class="ui horizontal divider header">
    Similique
</h4>
<div class="ui two column center aligned grid">
    <div class="row">
        <div class="column">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    Aliquam fringilla
                    <div class="sub header">Morbi a odio fringilla, feugiat augue ac, luctus augue.</div>
                </div>
            </h2>
        </div>
        <div class="column">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    Massa metus
                    <div class="sub header">Curabitur eu massa metus. In sit amet porta turpis, at tristique arcu.</div>
                </div>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    Ligula
                    <div class="sub header">Donec ligula ex, congue vitae eleifend quis, tempor ultricies dolor.</div>
                </div>
            </h2>
        </div>
        <div class="column">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    Arcu
                    <div class="sub header">Donec ultricies leo arcu, tincidunt cursus neque tincidunt vel. </div>
                </div>
            </h2>
        </div>
    </div>
</div>