<div id="friends-container" class="ui grid">
    <div id="menu" class="four wide column">
        <div class="ui segment">
            <h5 class="ui dividing header">
                Search
            </h5>
            <div class="ui icon fluid input">
                <input placeholder="Search your friends..." type="text">
                <i class="search icon"></i>
            </div>
            <h5 class="ui dividing header">
                Filter
            </h5>
            <div class="ui selection link list">
                <div class="item">
                    <div class="content">
                        <a href="#">All friends</a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a href="#">Recently added</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="friends" class="twelve wide column">
        <div class="ui segments">
            <div class="ui compact secondary top attached segment">
                <h5 class="left floated"><i class="users icon"></i> Friends</h5>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui four doubling cards">
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/helen.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/jenny.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/veronika.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="http://semantic-ui.com/images/avatar/large/steve.jpg">
                        </div>
                        <div class="extra">
                            <h5 class="ui centered header">Krzysztof Kochański</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>